# Databricks
DATABRICKS_HOST=
DATABRICKS_HTTP_PATH=
DATABRICKS_TOKEN=

# Cube
CUBE_API_URL=http://localhost:4000

#Ollama
OLLAMA_BASE_URL=https://localhost:11434
OLLAMA_MODEL=llama3.1:8b

#FastAPI
BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000

#Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000
